@font-face {
    font-family: 'oswald';
    src: url('Oswald-VariableFont_wght.ttf');
    font-family:'summer';
    src: url('/Summer\ Dream\ Sans\ DEMO\ .ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#one {
    font-family: oswald;
    background-color: #c78a44;
    text-align: center;
    color: #fff;
    padding: 20px;
}

#one h1 {
    font-size: 50px;
    font-family: summer;
}

#two {
    display: flex;
    justify-content: space-between;
    background-color:  #d8b26e ;
    padding: 5px;
    border-radius: 10px;
}

#two a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

#videos {
    
    background-color: #fff;
    padding: 20px;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#videos img {

    width: 45%; 
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px;
    transition: transform 0.3s;
    


}
#videos img:hover {
    transform: scale(1.1); 

} 
#ok{
    height: 100px;
}